<mat-form-field floatLabel="always">
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter by hash"
  />
</mat-form-field>
<ng-container>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Hash Column -->
    <ng-container matColumnDef="Block hash" sticky>
      <th mat-sort-header *matHeaderCellDef mat-header-cell>Hash</th>
      <td (click)="openDialog(element.hash)" mat-cell *matCellDef="let element">
        {{ element.hash }}
      </td>
    </ng-container>
    <!-- Time Column -->
    <ng-container matColumnDef="Block time" sticky>
      <th mat-sort-header *matHeaderCellDef mat-header-cell>Time</th>
      <td (click)="openDialog(element.hash)" mat-cell *matCellDef="let element">
        {{ now - element.time | date: 'medium' }}
      </td>
    </ng-container>
    <!-- Height Column -->
    <ng-container matColumnDef="Block height" sticky>
      <th mat-sort-header *matHeaderCellDef mat-header-cell>Height</th>
      <td (click)="openDialog(element.hash)" mat-cell *matCellDef="let element">
        {{ element.height }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [length]="dataSourceLength"
    [pageSize]="8"
  ></mat-paginator>
</ng-container>
<ng-template #noDataTemplate>
  <p>No blocks found!</p>
</ng-template>
